.reseni {
    background-color: #373A3C;
    font-size: 3em;
}
.reseni:hover, .click{
    background-color: #fff;
}
#obr-div {
    height: 300px;
    margin-bottom: 20px;
}
#obr-div  #obrazek{
    height: 100%;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
