.reseni {
    background-color: #333;
    font-size: 3em;
}
.reseni:hover, .click{
    background-color: #fff;
}
#obr-div {
    height: 300px;
    margin-bottom: 20px;
}
#obr-div  #obrazek{
    height: 100%;
}